# Build and Compilation
build/
bin/
gen/
out/
.gradle/
.externalNativeBuild/
.cxx/
*.class
*.dex
*.apk
*.ap_
*.aab

# Android Studio / IntelliJ
*.iml
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
*.ipr
*.iws

# Local configuration
local.properties

# Logs and Captures
*.log
captures/
.artifacts/

# Emulation and Profiling
*.hprof
*.pyc

# OS specific
.DS_Store
Thumbs.db
